[Unit]
Description=SonarQube service
After=syslog.target network.target

[Service]
Type=forking

ExecStart={{ sonarqube_installation_directory }}/bin/linux-x86-64/sonar.sh start
ExecStop={{ sonarqube_installation_directory }}/bin/linux-x86-64/sonar.sh stop

User={{ sonarqube_system_user }}
Group={{ sonarqube_system_user }}
Restart=always

LimitNOFILE=65535
LimitNPROC=65535

[Install]
WantedBy=multi-user.target